<div class="row d-flex justify-content-center" style="height: 70vh;">
    <div class="col-md-6 d-flex justify-content-center p-0 align-items-center flex-column">
        <h1><b>Don't wait in Queue...</b></h1>
        <h2>Book Your Slot Now!!</h2>
        <br>
        <div class="">
            <!-- <input class="getquote" type="text" placeholder="Parking Slot"> -->
            <button class="getquotebtn"(click)='checkSession()' >Book Now</button>
        </div>
    </div>
    <div class="col-md-6 d-flex justify-content-center align-items-center">
        <div>
            <img  src="../../assets/home3.png" alt="">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3 options-primary p-0 d-flex justify-content-center align-items-center flex-column">
        <i class="far fa-money-bill-alt" style="font-size: 60px;margin-bottom: 10px;"></i>
        <p>Economical</p>
    </div>
    <div class="col-md-3 options-secondary p-0 d-flex justify-content-center align-items-center flex-column">
        <i class="fas fa-history" style="font-size: 60px;margin-bottom: 10px;"></i>
        <p>Fast</p>
    </div>
    <div class="col-md-3 options-primary p-0 d-flex justify-content-center align-items-center flex-column">
        <i class="fas fa-user-shield" style="font-size: 60px;margin-bottom: 10px;"></i>
        <p>Easy Booking</p>
    </div>
    <div class="col-md-3 options-secondary p-0 d-flex justify-content-center align-items-center flex-column">
        <i class="fas fa-calendar-alt" style="font-size: 60px;margin-bottom: 10px;"></i>
        <p>24/7</p>
    </div>
</div>


<div class="row d-flex justify-content-center" style="height: 70vh;">
    <div class="col-md-6 d-flex justify-content-center align-items-center">
        <div>
            <img  src="../../assets/coronavirus-border-closure-concept-illustration_114360-1753-removebg-preview.png" alt="">
        </div>
    </div>
    <div class="col-md-6 d-flex justify-content-center flex-column">
        <h1><b>How It Works?</b></h1>
        <p style="color: #f90; font-family:Roboto, Helvetica Neue, sans-serif; font-size: 15px; font-weight: bold;">This website allows its users to book parking spots from the comfort of their homes.<br><br> With just a click one can book a parking slot for the desired time and location in advance, with a simple 
            and easy to use user-friendly interface one can book a slot just by providing a few details in a matter of seconds and enjoy the comfort of hassle-free parking on a busy workday</p>
        <br>
    </div>
</div>
<footer style="background-color: #f90; text-align: center; justify-content: center; align-items: center;">
      <p style=" padding-top: 20px; padding-bottom: 5px; color: black;"><b>&copy; Team 50, OOP Project 2021</b></p>
</footer>